*~
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/gnome-doc-utils.make
/install-sh
/missing

/accessibility-devel-guide/??*/*.mo
/accessibility-devel-guide/??*/*.page
/accessibility-devel-guide/??*/*.xml
/hig/??*/*.mo
/hig/??*/*.page
/hig/??*/*.xml
/integration-guide/??*/*.mo
/integration-guide/??*/*.page
/integration-guide/??*/*.xml
/optimization-guide/??*/*.mo
/optimization-guide/??*/*.page
/optimization-guide/??*/*.xml
/platform-demos/??*/*.mo
/platform-demos/??*/*.page
/platform-demos/??*/*.xml
/platform-overview/??*/*.mo
/platform-overview/??*/*.page
/platform-overview/??*/*.xml
