body {
   font-family: "Bitstream Vera Sans", Sans-Serif;
   font-size: 10pt;
   max-width: 64em;
}

p {
   margin: 1em 4em 1.5em 2em;
   text-align: justify;
}

div.revhistory table {
   font-size: 9pt;
   border: 1px solid #bbbbbb;
   -moz-border-radius: 16px;
   padding: 1em;
   margin: 1em;
   max-width: 64em;
}

div.revhistory table th {
   margin: 4px;
   background-color: #f6f6f6;
   padding: 2px;
   border: 0px;
}

div.revhistory table td {
   border: 0px;
}

div.figure * {
   text-align: center;
}

h1,h2,h3,h4,h5 {
   color: #909090;
}

li * {
   text-align: left;
}

hr {
   border: 2px solid gray;
}

.note {
   border: 1px dotted #707070;
   background-color: #eeeeee;
   padding: 0px 1em 1em 1em;
   font-size: 8pt;
}

.tip {
   border: 1px solid #eeeeee;
   padding: 0px 1em 1em 1em;
   font-size: 8pt;
   -moz-border-radius: 16px;
}

.command,.interface {
   color: #808080;
}

.keycap {
   color: #808080;
   background-color: #eeeeee;
   padding: 2px;
   border: 1px solid #707070;
   -moz-border-radius: 6px;
   font-weight: bold;
}

.guimenuitem {
   color: #808080;
   background-color: #eeeeee;
   font-weight: bold;
}

.figure {
   color: #707070;
   background-color: #eeeeee;
   font-weight: bold;
   border: 1px solid #a0a0a0;
   -moz-border-radius: 6px;
   margin-left: 2em;
   margin-right: 4em;
}

.figure .title {
   text-align: left;
}

.example {
   background-color: #eeeeee;
   border: 1px solid #a0a0a0;
   -moz-border-radius: 6px;
   margin-left: 2em;
   margin-right: 4em;
}

.example .title {
   color: #707070;
   font-weight: bold;
}

.programlisting {
   margin-left: 2em;
}

.mediaobject {
      margin: 1em;
      overflow: auto; /* whoa this rocks ;) */
      /* max-width: 400px; */
      max-height: 420px;
}

.remark {
   font-weight: bold;
   background-color: yellow;
}

.markup {
   font-weight: bold;
   font-family: monospace;
}

.application {
   font-weight: bold;
   /* background-color: #f6f6f6; */
   color: #202020;
   /* border-bottom: 1px dotted #aaaaaa; */
   padding: 0px;
}

img {
   border: 0px;
}
