!!!
%html
  %head
    %title GNOME Human Interface Guidelines
    = stylesheets :hig, :media => "screen"
    = javascripts('jquery', 'hig')
    %meta{:name=>"viewport", :content=> "width=device-width, initial-scale=1, maximum-scale=1"}
  %body
    .gnomelink
      %div
        %a{:href => 'http://www.gnome.org'} GNOME.org
    .logo
      =img "gnome-logo.png", :class => 'foot'
      .punchline Human Interface Guidelines
    .contain      
      %aside.sidebar
        .menu
          = partial('menu')
      %article.main
        = yield
    %hr.footerart
    #footer
      .contain
        .copy
          %p
            Copyright &copy; 2005&mdash;2012 The GNOME Project
          %p
            Free to share and remix: 
            %a{:href => "http://creativecommons.org/licenses/by/3.0/"} Creative Commons CC-BY.
            Optimised for standards. Hosted by 
            %a{:href => "http://canonical.com"} Canonical
            Powered by WordPress. 
