.copy
  %p
    Copyright &copy; 2005&mdash;2012 The GNOME Project
  %p
    Free to share and remix: 
    %a{:href => "http://creativecommons.org/licenses/by/3.0/"} Creative Commons CC-BY.
    Optimised for standards. Hosted by 
    %a{:href => "http://www.redhat.com"} Red Hat, Inc.
