- @layout = "landing"
= img "devices.png"
.note
  This is draft content for the next version of 
  %a{:href => 'http://design.gnome.org'} GNOME Human Interface Guidelines.

.blurb
  %h2
    Design Guidelines

  A small set of pages containing essential design 
  = link "advice and rules.", "design_principles.html"

.blurb
  %h2
    Design Patterns

  A larger collection of building blocks that you can use to design your 
  = link 'application.', 'basics-appmenu.html'

  The design patterns include a variety of different design elements that you can utilise. Some patterns describe individual user interface components, such as check boxes or lists. Others describe more complex arrangements of components.
