%h1
  Writing Style

.note
  This is draft content for the next version of 
  %a{:href => 'http://design.gnome.org'} GNOME Human Interface Guidelines.
  
Text is an important part of user interfaces. Take the time to ensure that any text that is presented to users is clearly written and easy to understand. Text also has an important visual role; it is important to ensure that you use the correct sizes, weights and positioning in order to produce a beautiful and effective interface.

%h2
  Writing Text for Your User Interface

%p
  Ensuring that text is quick and easy to understand is an important part of designing your application.

%ul
  %li
    Keep text short and to the point. This improves speed of comprehension for the user. It also reduces the expansion of text when translated (remember that translated English text can expand up to 30% in some languages).
  %li
    Do not shorten your text to the point of losing meaning, however. A three-word label that provides clear information is better than a one-word label that is ambiguous or vague. Try to find the fewest possible words to satisfactorily convey the meaning of your label.
  %li
    Ensure that you use language that is familiar to your users and that is specific to the context of your application. Avoid using technical terminology or terminology from the underlying system.
  %li
    Use the standard GNOME terms when referring to parts of the user interface, such as ‘pointer’ and ‘window’. You can find a full list of these in the GNOME Documentation Style Guide, Recommended Terminology.
  %li
    Avoid repetition where possible. Remember the context of the text you are writing and try to avoid having the repetitive use of the same phrases and terms in the same view or window. 

%h2
  Labels

%p
  Labels are the text that accompanies individual controls in your interface. Some controls have them placed alongside, such as switches, checkboxes and radio buttons. Others, such as menu items and buttons, have the label placed directly on the control itself.

%ul
  %li
    Use the recommended standard labels for menu items, where they exist. Do not use synonyms such as Exit instead of Quit.
  %li
    Ensure that a label with a mnemonic is associated with the control it labels.
  %li
    If a label precedes the control or text that it refers to, use a lighter color [needs specific guidance on which color to use. do we have named colors yet?] to differentiate it (this rule does not apply to headings). In these cases a colon at the end of the label is not necessary.

%h2
  Capitalization

%p
  Two styles of capitalization are used in GNOME user interface elements: header capitalization and sentence capitalization.

%h2
  Header Capitalization
%p
  Capitalize all words in the element, with the following exceptions:
  %ul
    %li
      Articles: a, an, the.
    %li
      Conjunctions of three or fewer letters: and, but, for, not, so, yet ...
    %li
      Prepositions of three or fewer letters: at, for, by, in, to ...

%p
  Use for:

%ul
  %li
    Button labels
  %li
    Column heading labels
  %li
    Group box or frame labels
  %li
    Menu items
  %li
    Menu items in applications
  %li
    Menu titles in applications
  %li
    Tabbed notebook titles
  %li
    Titlebar labels
  %li
    Webpage titles and navigational elements

%h2
  Sentence Capitalization

%p
  Capitalize the first letter of the first word, and any other words normally capitalized in sentences, such as application names.

%p
  Use for:

%ul
  %li
    Check box labels
  %li
    Dialog messages
  %li
    Drop-down combination box labels
  %li
    Drop-down list box labels
  %li
    Field labels
  %li
    Filenames
  %li
    Graphic equivalent text: for example, Alt text on web pages
  %li
    Items in drop-down combination boxes, drop-down list boxes, and list boxes
  %li
    List box labels
  %li
    Radio button labels
  %li
    Slider labels
  %li
    Spin box labels
  %li
    Text box labels
  %li
    Tooltips

%h2
  Text Styles

%ul
  %li
    If you are presenting different kinds of text based information closely together, use different sizes weights and colours to differentiate them. (Be sure to consult the relevant design patterns for further guidance on this.)
  %li
    Do not use more than two or three different text styles in your application. Too many textsizes, colors and weights will make the interface look complex, making it unattractive and difficult to understand.
  %li
    Do not use graphical backdrops or "watermarks" behind text. These interfere with the contrast between the text and its background. This can cause difficulty for users with visual impairments, who will therefore normally choose themes that always use plain backdrops.

%h2
  Comments

%p
Should perhaps mention the potential for confusion with 'disabled' controls when discussing uses of text color. Maybe the 'consult design patterns for further guidance' is supposed to address that...
