@import url(reset.css);
@import url(fonts.css);
@import url(text.css);
/* line 41, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
body:after {
  clear: both;
}

/* line 14 */
a {
  color: #3465a4;
}
/* line 16 */
a:hover {
  color: #477ec4;
}
/* line 19 */
a:active {
  color: #284d7d;
}

/* line 24 */
p {
  margin-bottom: 1em;
}

/* line 28 */
body {
  font-family: Cantarell, Sans-Serif;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  background: white url(../images/html-bg.png) 0 10px repeat-x;
}

/* line 36 */
img {
  width: 100%;
  height: auto;
}

/* line 41 */
h1, h2, h3, h4, h5, h6 {
  color: #888a85;
  margin: 2em 0 .8em;
}
/* line 44 */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin: 0 0 .8em;
}

/* line 49 */
h1 {
  font-size: 200%;
}

/* line 51 */
.punchline {
  font-size: 200%;
  color: #888a85;
  font-family: Copse, Cantarell, Sans-Serif;
  text-shadow: 0 1px 0 white;
  -moz-text-shadow: 0 1px 0 white;
  -webkit-text-shadow: 0 1px 0 white;
}

/* line 58 */
.gnomelink {
  width: 960px;
  margin: 0 auto;
}
/* line 62 */
.gnomelink > div {
  background-color: #fff;
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin-left: 850px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 3px 2px #8fb3d9;
  -moz-box-shadow: 0 3px 2px #8fb3d9;
  -webkit-box-shadow: 0 3px 2px #8fb3d9;
}
/* line 68 */
.gnomelink > div a {
  display: block;
  font-size: 80%;
  padding-left: 18px;
  margin: 6px 2px 2px 5px;
  background: url(../images/favicon.png) no-repeat 0 0;
  color: #222;
  text-decoration: none;
}
/* line 76 */
.gnomelink > div a:hover {
  text-decoration: underline;
}

/* line 83 */
.logo {
  position: absolute;
  width: 960px;
  top: 70px;
  left: 50%;
  margin-left: -480px;
  display: block;
}
/* line 91 */
.logo img {
  width: 170px;
  height: auto;
}

/* line 97 */
.main {
  display: inline;
  float: left;
  width: 640px;
  margin: 0 10px;
}

/* line 99 */
.contain {
  width: 960px;
  margin: 4em auto 0;
  overflow: hidden;
}
/* line 103 */
.contain .sidebar {
  display: inline;
  float: left;
  width: 280px;
  margin: 0 10px;
  /* SIDEBAR MENU */
}
/* line 106 */
.contain .sidebar .menu {
  margin: 200px 0 0;
}
/* line 108 */
.contain .sidebar .menu ul {
  display: block;
  margin: 0;
  padding: 0;
  /* COLLAPSING MENU */
}
/* line 112 */
.contain .sidebar .menu ul li {
  margin: 0;
  display: block;
  margin: 0 0 .8em;
  padding-left: 24px;
}
/* line 117 */
.contain .sidebar .menu ul li.current a {
  color: black;
}
/* line 119 */
.contain .sidebar .menu ul li.current a:hover {
  text-decoration: none;
  cursor: default;
}
/* line 127 */
.contain .sidebar .menu ul.collapsed > li {
  padding: 0;
}
/* line 129 */
.contain .sidebar .menu ul.collapsed > li a.expand {
  background: url(../images/minus.png) no-repeat 4px 7px;
}
/* line 132 */
.contain .sidebar .menu ul.collapsed > li a.collapse {
  background: url(../images/plus.png) no-repeat 4px 7px;
}
/* line 135 */
.contain .sidebar .menu ul.collapsed > li > a {
  display: block;
  color: #666;
  font-weight: bold;
  padding-left: 24px;
  cursor: pointer;
}
/* line 141 */
.contain .sidebar .menu ul.collapsed > li > a:hover {
  text-decoration: none;
}
/* line 145 */
.contain .sidebar .menu ul.collapsed > li:first-child {
  margin-top: 0;
}
/* line 149 */
.contain .sidebar .menu ul.collapsed > li ul {
  margin-top: 1em;
}
/* line 151 */
.contain .sidebar .menu ul.collapsed > li ul li {
  padding: 0;
}
/* line 153 */
.contain .sidebar .menu ul.collapsed > li ul li a {
  padding-left: 24px;
  color: #3465a4;
}
/* line 158 */
.contain .sidebar .menu ul.collapsed > li ul li.current a {
  cursor: default;
  color: black;
}
/* line 161 */
.contain .sidebar .menu ul.collapsed > li ul li.current a:hover {
  text-decoration: none;
}
/* line 171 */
.contain .sidebar .menu a {
  text-decoration: none;
}
/* line 173 */
.contain .sidebar .menu a:hover {
  text-decoration: underline;
}
/* line 178 */
.contain .sidebar .smalllogo {
  display: block;
  text-decoration: none;
}
/* line 181 */
.contain .sidebar .smalllogo + .menu {
  margin: 25px 0 0;
}
/* line 184 */
.contain .sidebar .smalllogo img {
  width: 170px;
  height: auto;
}
/* line 188 */
.contain .sidebar .smalllogo .punchline {
  font-size: 115%;
  margin-top: 8px;
}
/* line 191 */
.contain .main {
  display: inline;
  float: left;
  width: 640px;
  margin: 0 10px;
}

/* line 195 */
.columns {
  display: block;
  width: 660px;
  margin: 0 -10px;
  *zoom: 1;
}
/* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
.columns:before, .columns:after {
  content: "";
  display: table;
}
/* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
.columns:after {
  clear: both;
}
/* line 198 */
.columns img {
  display: inline;
  float: left;
  width: 340px;
  margin: 0 10px;
  margin-bottom: 1em;
  float: right;
}
/* line 204 */
.columns p {
  display: inline;
  float: left;
  width: 280px;
  margin: 0 10px;
  margin-bottom: 1em;
}

/* line 210 */
.blurb {
  display: inline;
  float: left;
  width: 280px;
  margin: 0 10px;
}

/* line 214 */
hr.footerart {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  width: 925;
  height: 116px;
  background: url(../images/footer-art.png) no-repeat bottom center;
}

/* line 225 */
#footerpositioner {
  margin: 2em 0 0;
  padding: 0;
  width: 100%;
}
/* line 229 */
#footerpositioner.fixedfooter {
  position: absolute;
  bottom: 0;
}

/* line 235 */
#footer {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background-color: #d3d7cf;
  overflow: hidden;
  position: inline;
}
/* line 245 */
#footer .copy {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 80%;
}
/* line 252 */
#footer .navmenu {
  display: block;
  width: 960px;
  margin: 0 -10px;
  *zoom: 1;
  display: none;
  margin: 0;
  line-height: 200%;
}
/* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
#footer .navmenu:before, #footer .navmenu:after {
  content: "";
  display: table;
}
/* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
#footer .navmenu:after {
  clear: both;
}
/* line 257 */
#footer .navmenu li.current a {
  color: black !important;
  cursor: default;
}
/* line 260 */
#footer .navmenu li.current a:hover {
  text-decoration: none !important;
}
/* line 264 */
#footer .navmenu h3 {
  font-size: 110%;
}
/* line 267 */
#footer .navmenu a {
  color: #fff;
  text-decoration: none;
}
/* line 270 */
#footer .navmenu a:hover {
  color: #444;
  text-decoration: underline;
}
/* line 275 */
#footer .navmenu .direct {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
/* line 277 */
#footer .navmenu .direct ul {
  display: block;
  margin-bottom: 2em;
  padding: 0;
}
/* line 282 */
#footer .navmenu .direct ul li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 289 */
#footer .navmenu .nested {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
}
/* line 291 */
#footer .navmenu .nested ul.collapsed {
  display: block;
  width: 720px;
  margin: 0 -10px;
  *zoom: 1;
  margin-bottom: 0;
}
/* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
#footer .navmenu .nested ul.collapsed:before, #footer .navmenu .nested ul.collapsed:after {
  content: "";
  display: table;
}
/* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
#footer .navmenu .nested ul.collapsed:after {
  clear: both;
}
/* line 294 */
#footer .navmenu .nested ul.collapsed a {
  color: #888a85;
  font-size: 105%;
}
/* line 297 */
#footer .navmenu .nested ul.collapsed a:hover {
  text-decoration: none;
}
/* line 301 */
#footer .navmenu .nested ul.collapsed li {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin-bottom: 2em;
}
/* line 304 */
#footer .navmenu .nested ul.collapsed li ul li {
  margin: 0;
}
/* line 306 */
#footer .navmenu .nested ul.collapsed li ul li a {
  color: #fff;
  text-decoration: none;
}
/* line 309 */
#footer .navmenu .nested ul.collapsed li ul li a:hover {
  color: #444;
  text-decoration: underline;
}

/* MOBILE VERSION BELOW */
@media screen and (max-width: 960px) {
  /* line 325 */
  .gnomelink {
    display: none;
  }

  /* line 328 */
  .blurb {
    display: block;
    width: 100%;
    margin: 0 -1.042%;
    *zoom: 1;
  }
  /* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
  .blurb:before, .blurb:after {
    content: "";
    display: table;
  }
  /* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
  .blurb:after {
    clear: both;
  }

  /* line 331 */
  .logo {
    position: static;
    margin: 20px auto;
    width: 94%;
    overflow: hidden;
  }
  /* line 336 */
  .logo img {
    width: 100px;
    height: auto;
  }
  /* line 340 */
  .logo div {
    margin: .5em 0 0;
    font-size: 120%;
  }

  /* line 346 */
  .columns {
    display: block;
    width: 100%;
    margin: 0 -1.042%;
    *zoom: 1;
  }
  /* line 27, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
  .columns:before, .columns:after {
    content: "";
    display: table;
  }
  /* line 31, /home/jimmac/src/cvs/gnome/gnome-devel-docs/hig3/src/stylesheets/grid.scss */
  .columns:after {
    clear: both;
  }
  /* line 349 */
  .columns img {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin-bottom: 1em;
  }
  /* line 354 */
  .columns p {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin-bottom: 1em;
  }

  /* line 360 */
  .contain {
    width: 97.917%;
    margin: 0 auto;
  }
  /* line 363 */
  .contain .menu {
    display: none;
  }
  /* line 364 */
  .contain .main {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
  }
  /* line 365 */
  .contain .sidebar {
    margin: 0;
  }
  /* line 367 */
  .contain .sidebar .smalllogo {
    position: static;
    display: block;
    margin: 20px auto;
    width: 94%;
    overflow: hidden;
  }
  /* line 373 */
  .contain .sidebar .smalllogo img {
    width: 100px;
    height: auto;
  }
  /* line 377 */
  .contain .sidebar .smalllogo div {
    margin: .5em 0 0;
    font-size: 120%;
  }

  /* line 385 */
  hr.footerart {
    width: 96%;
    margin: 0 auto;
    background-size: contain;
  }

  /* line 391 */
  #footer {
@inlude column(16);
  }
  /* line 394 */
  #footer .navmenu {
    font-size: 130%;
    line-height: 300%;
    margin-bottom: 2em;
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
  }
  /* line 398 */
  #footer .navmenu h3 {
    margin: 2em 0 1em;
  }
  /* line 402 */
  #footer .navmenu li {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
  }
  /* line 405 */
  #footer .navmenu .direct {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin: 0;
  }
  /* line 409 */
  #footer .navmenu .nested {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin: 0;
  }
  /* line 412 */
  #footer .navmenu .nested ul.collapsed {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin: 0;
  }
  /* line 415 */
  #footer .navmenu .nested ul.collapsed li {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin: 0;
  }
  /* line 418 */
  #footer .navmenu .nested ul.collapsed li ul li {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
  }
  /* line 429 */
  #footer .copy {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
