@import 'reset.css';
@import 'fonts.css';
@import 'text.css';
@import 'grid';
@import 'base';

$column-width: 40px;
$gutter-width: 20px;
$columns: 16;

$c-link: #3465a4;
$c-header: #888a85;
$c-footer: #d3d7cf;

a { 
  color: $c-link;
  &:hover {
    color: lighten($c-link,10%);
  }
  &:active {
    color: darken($c-link,10%);
  }
}

p {
  margin-bottom: 1em;
}

body {
  font-family:  Cantarell, Sans-Serif;
  font-size: 11pt;
  margin: 0; padding: 0;
  background: #fff url(../images/html-bg.png) 0 10px repeat-x;
  //background: #fff url(../images/grid.png) top center repeat-y; //debug grid
}

img {
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6 {
  color: $c-header;
  margin: 2em 0 .8em;
  &:first-child {
    margin: 0 0 .8em;
  }
}

h1 { font-size: 200%;  }

.punchline {
  font-size: 200%;
  color: $c-header;
  font-family: Copse, Cantarell, Sans-Serif;
  @include text-shadow(0,1px,0,#fff);
}

.gnome {
  white-space: nowrap;
}

.gnomelink {
  width: 960px;
  margin: 0 auto;
  
  &>div {
    background-color: #fff;
    @include column(2);
    @include push(14);
    @include border-radius(5px);
    @include box-shadow(0,3px,2px,#8FB3D9);
    a {
      display: block;
      font-size: 80%;
      padding-left: 18px;
      margin: 6px 2px 2px 5px;
      background: url(../images/favicon.png) no-repeat 0 0;
      color: #222;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logo {
  position: absolute;
  width: 960px;
  top: 70px;
  left: 50%;
  margin-left: -480px;
  display: block;
  
  img {
    width: 170px;
    height: auto;
  }
}

.main {  @include column(11); }

.contain {
	width: 960px;
	margin: 4em auto 0;
	overflow: hidden;
	.sidebar {
	  @include column(5,16);
	  /* SIDEBAR MENU */
    .menu {    
      margin: 200px 0 0;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          display: block;
          margin:  0 0 .8em ;
          padding-left: 24px;
          &.current a {
           color: black;
           outline: none;
           &:hover {
            text-decoration: none;
            cursor: default;
           }
          }
        }
        /* COLLAPSING MENU */
        &.collapsed {
          &>li {
            padding: 0;
            a.expand {
              background: url(../images/minus.png) no-repeat 4px 7px;
            }
            a.collapse {
              background: url(../images/plus.png) no-repeat 4px 7px;
            }
            &>a {
              display: block;
              color: #666;
              font-weight: bold;
              padding-left: 24px;
              cursor: pointer;
              outline: none;
              &:hover {
                text-decoration: none;
              }
            }
            &:first-child {
              margin-top: 0;
            }

            ul {
              margin-top: 1em;
              li {
                padding: 0;
                a {
                  padding-left: 24px;
                  color: $c-link;
                  outlien: none;
                }
                &.current {
                  a {
                    cursor: default;
                    color: black;
                    &:hover {
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }   
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .smalllogo {
      display: block;
      text-decoration: none;
      &+.menu {
        margin: 25px 0 0;
      }
      img {
        width: 170px;
        height: auto;
      }
      .punchline { font-size: 115%; margin-top: 8px; }
    }
	}
  .main {  @include column(11,16);}
}


.columns {
  @include row(11);
  
  img {
    @include column(6,11);
    margin-bottom: 1em;
    float: right;
  }

  p  {
    @include column(5,11);
    margin-bottom: 1em;
  }
}

.blurb {
  @include column(5);
  }

hr.footerart {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  width: 925;
  height: 116px;
  background: url(../images/footer-art.png) no-repeat bottom center;
}

#footerpositioner {
  margin: 2em 0 0;
  padding: 0;
  width: 100%;
  &.fixedfooter {
    position: absolute;
    bottom: 0;
  }
}

#footer {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background-color: $c-footer;
  overflow: hidden;
  position: inline;
  
 
  .copy {
   @include column(16);
   margin-top: 2em;
   margin-bottom: 2em;
   font-size: 80%;
  }
  
  .navmenu {
    @include row(16);
    display: none;
    margin: 0; //not included in a grid column, thus no need for negative margins
    line-height: 200%;
    li.current a {
      color: black !important;
      cursor: default;
      &:hover {
        text-decoration: none !important;
      }
    }
    h3 {
      font-size: 110%;
    }
    a {
      font-weight: normal;
      color: #666;
      @include text-shadow(0,1px,0,rgba(255,255,255,0.6));
      text-decoration: none;
      &:hover {
        color: #444;
        text-decoration: underline;
      }
    }
    .direct {
      @include column(4,16);
      ul {
        display: block;
        margin-bottom: 2em;
        padding: 0;
        
        li {
          display: block;
          padding: 0;
          margin: 0;
        }
      }
    }
    .nested {
      @include column(12,16);
      ul.collapsed {
        @include row(12);
        margin-bottom: 0;
        a {
          color: $c-header;
          font-size: 105%;
          font-weight: bold;
          &:hover {
            text-decoration: none;
          }
        }
        li {
          @include column(4,12);
          margin-bottom: 2em;
          ul li {
            margin: 0;
            a {
              font-weight: normal;
              color: #666;
              @include text-shadow(0,1px,0,rgba(255,255,255,0.6));
              text-decoration: none;
              &:hover {
                color: #444;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@mixin menubutton() {
  display: block;
  text-align: center;
  padding: .5em;
  border: 1px solid darken($c-footer,20%);
  @include border-radius(0.5em);
  background-color: darken($c-footer, 5%);
  @include gradient-vertical(lighten($c-footer,5%), darken($c-footer, 8%));
  margin-bottom: 4px;
  &:hover {
    border: 1px solid darken($c-footer,30%);
  }
  &:active {
    @include gradient-vertical(darken($c-footer,10%), darken($c-footer,5%));
  }
}

/* MOBILE VERSION BELOW */
@media screen and (max-width: 960px) {
  $total-width: 100%;

  .gnomelink {
    display: none;
  }
  .blurb {
    @include row(16);
  }  
  .logo {
    position: static;
    margin: 20px auto;
    width: 94%;
  	overflow: hidden;
  	img {
      width: 100px;
      height: auto;
    }
  	div {
  	  margin: .5em 0 0;
  	  font-size: 120%;
  	}
  }

  .columns {
    @include row(16);
    
    img {
      @include column(16);
      margin-bottom: 1em;
    }

    p  {
      @include column(16);
      margin-bottom: 1em;
    }
  }  
  
  .contain {
    width: 97.917%;
    margin: 0 auto;
    .menu { display: none; }
    .main {  @include column(16); }
    .sidebar {
      margin: 0;
      .smalllogo { 
        position: static;
        display: block;
        margin: 20px auto;
        width: 94%;
      	overflow: hidden;
      	img {
          width: 100px;
          height: auto;
        }
      	div {
      	  margin: .5em 0 0;
      	  font-size: 120%;
      	}
      }
    }
  }
  
  hr.footerart {
    width: 96%;
    margin: 0 auto;
    background-size: contain;
  }
  
  #footer {
    @inlude column(16);
    
    .navmenu {
      font-size: 130%;
      line-height: 150%;
      margin-bottom: 2em;


      .nested ul.collapsed li ul li.current a,  .direct ul li.current a {
        @include gradient-vertical(darken($c-footer,10%), darken($c-footer,5%));
      }
      h3 {
        margin: 2em 0 1em;
      }
      @include column(16);
      li {
        @include column(16);
        width: 100%;
      }
      .direct {
        @include column(16);
        margin: 0;

        a { @include menubutton(); }
      }
      .nested {
        @include column(16);
        margin: 0;
        ul.collapsed {
          @include column(16);
          margin: 0;
          width: 100%;
          li {
            @include column(16);
            margin: 0;
            width: 100%;
            ul {
              width: 100%;
              li {
                display: block;
                float: none;
                width: 100%;
                margin: 0;
                a { @include menubutton(); }
              }
            }
          }
        }
      }
    }
    
    .copy {
      @include column(16);
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
}


